@use './base/colors';


body{
    font-size: 18px;
    background-color: mediumpurple;
    background-image: url(./../assets/img/bg-main.png);
    color: colors.$white;
}

.main-parag{
    color: rgb(220, 221, 214);
}

