doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon", href=require("./assets/img/favico.png"), type="image/x-icon")
        link(rel="stylesheet", href=require("./styles/styles.scss"))
        title Document
    body 
        h1 Lorem, ipsum.
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum sequi pariatur laboriosam.
        img(src=require("./assets/img/main-img.png"), alt="", srcset="")
        p.main-parag Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste numquam voluptatem dignissimos explicabo officia?
        script(src=require("./main.js")) 
        include views/sections/_main.pug